.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: black;
  bottom: -2em;
}

.carousel {
  margin: 1.5rem;
}

.carousel-inner {
  height: auto;
}

.carousel-control-prev, .carousel-control-next {
  height: 85%;
  font-size: 2em;
  color: gray;
  background: none;
  border: none;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  color: black;
}

button:focus{
  color: gray !important;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

.carousel-inner {
  overflow: visible;
}

.datepicker, .like-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 5em;
}

.datepicker {
  right: 0;
}