@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  color: rgb(106, 106, 106);
  background-color: #efefef;
  font-family: 'Lato', sans-serif;
}

.nav-bar {
  background: #303f9f;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .2)
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: black;
  bottom: -2em;
}

.carousel-title {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

.carousel {
  margin: 1.5rem;
}

.carousel-item {
  float: none;
}

.carousel-inner {
  height: auto;
}

.my-carousel {
  margin: 0 auto;
  position: relative;
  min-height: 514px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #eee;
  top: 0;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 5px;
  padding-top: 15px;
}

.carousel-control-prev, .carousel-control-next {
  height: 100%;
  font-size: 2em;
  color: gray;
  background: none;
  border: none;
}

.carousel-item span {
  width: 100%;
}

.carousel-item img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  max-height: 500px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  color: black;
}

button:focus {
  color: gray !important;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

.carousel-inner {
  overflow: visible;
}

.like-button {
  float: left;
}

.options-container {
  padding: 0.5em 0px;
}

.caption-container {
  margin-top: 2.5em;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  padding: 15px 0;
}

.datepicker {
  float: right;
  border: 1px solid #cdcdcd;
  padding: 4px;
  border-radius: 4px;
}

.like-button a {
  font-size: 1.7em;
  padding: 0.5em;
  color: #a4a4a4;
  transition: color .5s;
}

.like-button a {
  transition: color .5s;
}

.liked {
  color: #F44336 !important;
  transition: color .5s;
}

.liked:hover {
  color: #D32F2F !important;
  transition: color .5s;
}

.modal-title svg {
  color: #D32F2F;
}