.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  color: black;
  bottom: -2em;
}

.carousel {
  margin: 1.5rem;
}

.carousel-item {
  float: none;
}

.carousel-inner {
  height: auto;
}

.carousel-control-prev, .carousel-control-next {
  height: 100%;
  font-size: 2em;
  color: gray;
  background: none;
  border: none;
}
.carousel-item span {
  width: 100%;
}

.carousel-item img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  max-height: 500px;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  color: black;
}

button:focus {
  color: gray !important;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}

.carousel-inner {
  overflow: visible;
}

.like-button {
  float: left;
}

.options-container {
  padding: 0.5em 0px;
}

.caption-container {
  margin-top: 3em;
  text-align: center;
}

.datepicker {
  float: right;
}

.like-button a {
  font-size: 1.7em;
  padding: 0.5em;
  color: #a4a4a4;
}

.liked {
  color: red !important;
}